* {
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

@font-face {
	font-family: 'Inter-Light'; 
	src: url(fonts/Inter/Inter-Light.otf);
}

@font-face {
	font-family: 'Inter-Medium'; 
	src: url(fonts/Inter/Inter-Medium.otf);
}

@font-face {
	font-family: 'Inter-Black'; 
	src: url(fonts/Inter/Inter-Black.otf);
}

body {
    margin: 0;
}

.hide {
	display: none;
}

.pink {
    background-color: #FEAFC3;
}

.blue {
    background-color: #69A9FF;
}

.yellow {
    background-color: #FCC850;
}


/*============= Header =================*/
    
.header {
    width: 100%;
    padding-top: 30px;
}

.header-inner {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-inner__logo {
    width: 137px;
    height: 56px;
    cursor: pointer;
}

.header-nav {
    width: 50%;
}

.header-nav__link {
    margin: 0 16px;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #2D3440;
}

.header-nav__link_ , #header-nav__active {
    width: 95px;
    height: 36px;
    color: #FCFCFC;
    background: #FF4A78;
    border-radius: 26px;
}

.header-authorization {
    width: 50%;
    display: flex;
    justify-content: end;
}

/*==========Search===========*/

.header-authorization__search-link {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.header-search-block {
    position: absolute;
    margin-right: 15%;
    margin-top: 3%;
    padding-top: 24px;
    padding-left: 15px;
    width: 356px;
    height: 96px;
    background: #FCFCFC;
    border-radius: 4px;
    outline: none;
    z-index: 1;
}

.header-search-input {
    width: 324px;
    height: 48px;
    padding-left: 10px;
    outline: none;

    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #B9B9B9;
    border-radius: 3px;

    color: #B9B9B9;
}

.header-authorization__search:hover,
.header-authorization__search:focus {
    background-color: rgba(255, 255, 255, 1);
	outline: none;
    border-radius: 50%;
}




.header-authorization__phone {
    padding: 0 14px;
    display: flex;
    align-items: center;
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
}

.header-authorization__search {
    margin: 0 14px;
    width: 32px;
    height: 32px;
    background: url("../ice_cream_card/images/header/search.svg") no-repeat center;
}

.header-authorization__entrance {
    width: 108px;
    height: 32px;
    background: url("../ice_cream_card/images/header/entrance.svg") no-repeat center;
}

.header-authorization__basketButton {
    width: 105px;
    height: 32px;
    background: url(../ice_cream_card/images/header/basket.svg) no-repeat center;
}

.header-authorization__basket {
    display: flex;  
}

.header-authorization__basket__background {
    width: 441px;
    height: 382px;
    background: #FCFCFC;
    border-radius: 4px;
}

/*========= Main page =================*/

.mainPage {
    display: flex;
    width: 100%;
}

/*====== 1 ========*/

.mainPage1 {
    width: 40%;
    align-items: center;
    flex-wrap: wrap;
    padding: 12% 0 10% 4%;
}

.mainPage1-title {
    padding-bottom: 4%;
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    color: #2D3440;
}

.mainPage1-description {
    padding-bottom: 8%;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;
}

.mainPage1-btn {
    width: 139px;
    height: 44px;

    background: #FCFCFC;
    border: 4px solid rgba(254, 175, 195, 0.4);
    box-shadow: 0px 4px 12px rgb(45 52 64 / 10%);
    border-radius: 26px;
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    color: #2D3440;
}

/*========= 2 ==========*/
.mainPage2 {
    display: flex;
    padding-left: 6%;
    width: 60%;
    min-width: 700px;
    align-items: center;
    gap: 80px;
}

/*============ Img ============*/

.mainPage2-img-arrow__left {
    position: absolute;
    width: 38px;
    height: 38px;
    margin-top: 300px;
    margin-left: 3px;

    z-index: 1;
    background: url(../ice_cream_card/images/main/mainPage/arrow-left.svg) no-repeat center;
}

.mainPage2-img-arrow__right {
    position: absolute;
    width: 38px;
    height: 38px;
    margin-top: 300px;
    margin-left: 314px;

    z-index: 1;
    background: url(../ice_cream_card/images/main/mainPage/arrow-right.svg) no-repeat center;
}


.mainPage2-img__first,
.mainPage2-img__second,
.mainPage2-img__third
{
    position: relative;
}

.mainPage2-img__product1 {
    margin-left: 21px;
    margin-top: 61px;
}

.mainPage2-img__background1 {
    position: absolute;
    margin-left: 21px;
    top: 163px;

    width: 312px;
    height: 312px;
    border-radius: 50%;
    background: #FFCBD8;
    z-index: -1;
}

.mainPage2-img__background2 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display:inline-block;

    background: #FFCBD8;
    opacity: 0.4;
}

.mainPage2-img__second,
.mainPage2-img__third {
    height: 165px;
    padding-top: 30px;
}

.mainPage2-img__background2 {
    position: absolute;
    z-index: -1;
    top: 36%;
    right: -30%;
}

/*============ Social =================*/

.mainPage2-social {
    height: 100%;
    align-items: end;
    gap: 12px;
    display: flex;
}

/*=============== Banner ==============*/

.banner {
    margin: 5% 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.banner-container {
    display: flex;
    width: 570px;
    height: 268px;
    background: #FF7799;
    border-radius: 16px; 
}

.banner-container__1-part {
    width: 354px;
}

.banner-container__title {
    padding: 40px 0 0 40px;

    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #2D3440;
}

.banner-container__description {
    padding: 16px 0 0 40px;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #2D3440;
}

.banner-container__btn {
    width: 176px;
    height: 44px;
    margin: 32px 0 0 40px;

    background: #FCFCFC;
    border: 4px solid rgba(254, 175, 195, 0.4);
    box-shadow: 0px 4px 12px rgb(45 52 64 / 10%);
    border-radius: 26px;
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    color: #2D3440;
}

.banner-img {
    position: relative;
    height: 100%;
    width: 216px;
}

.banner-imgPhoto {
    position: absolute;
    top: 28px;
    right: 15px;
    height: 240px;
}


/*=========== h2 ==========*/

h2 {
    margin-top: 9%;
    text-align: center;
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: #2D3440;
}

/*============= Card ==============*/

.card-container {
    padding-top: 7%;
    display: flex;    
    flex-wrap: wrap;    
    gap: 70px;
}

.card-item {
    margin: auto;
    width: 273px;
    height: 281px;
    background: #FCFCFC;
    border-radius: 8px;
}

.card-item__img {
    height: 117px;
}

.card-item__img img {
    display:block;
    margin:auto;
    position: relative;
    top: -51px;
    filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}

.card-item__title {
    margin-top: 16px;
    text-align: center;
    color: #2D3440;
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.card-item__text {
    margin-top: 8px;
    text-align: center;
    color: #565C66;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.card-item__price_block {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.card-item__price {
    margin-left: 40px;
    margin-right: 73px;
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.card-item__btn {
    border: none;
    background-color: #FCFCFC;
    cursor: pointer;
}

/*=============== Description ===============*/

.description {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.description-container {
    padding: 20px;
    display: flex;
    width: 1216px;
    height: 500px;
    background: url(./images/main/description/waffle_background.png) no-repeat;
}

.description-board {
    background: #FCFCFC;
    border-radius: 16px;
}

.description-board__title {
    font-family: 'Inter-Black';
    text-align: center;
    padding: 5% 0;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: #2D3440;
}

.description-board__icon {
    padding: 0 4%;
    column-gap: 2%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.description-board__item {
    width: 49%;
    display: flex;
}

.description-board__iconImg {
    padding: 0 4%;
}

.description-board__text {
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #565C66;
}

/*================ Novosti ================*/

.novosti-container {
    display: flex;
    justify-content: space-evenly;
    column-gap: 15px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 4% 0;
}

.novosti-title {
    position: absolute;
    padding: 30px 0 0 32px;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #565C66;
}

.novosti-text {
    position: absolute;
    padding: 90px 0 0 32px;
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #2D3440;
}

.novosti-mail, .novosti {
    display: flex;
    width: 570px;
    height: 220px;
}

.novosti-mail__img2 {
    position: absolute;
    padding: 5px 2px 0 5px;
}

.novosti-mail__subscription {
    padding: 30px 0 0 30px;
    position: absolute;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #565C66;
}

.novosti-mail__input {
    position: absolute;
    padding: 140px 20px 0 20px;
}

.novosti-mail__input-email {
    padding: 0 2% 0 3%;
    width: 332px;
    height: 48px;
    
    border: 1px solid #B9B9B9;
    outline: none;
    border-radius: 4px;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.novosti-mail__btn {
    margin-left: 12px;
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
    
    width: 152px;
    height: 44px;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

/*======== Delivery-container =========*/

.delivery-container {
    display: flex;
    justify-content: center;
}

.delivery-container > .delivery-block2__backgroundInput {
    display: none;
}

.delivery-background {
    display: flex;
    width: 1216px;
    height: 555px;
    background: url(./images/main/delivery/delivery_background1.png) no-repeat;
}

.delivery-block1 {
    width: 50%;
}

.delivery-block1__title {
    padding: 27% 0 0 17%;

    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;

    color: #2D3440;
}

.delivery-block1__text {
    padding: 7% 0 0 17%;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #565C66;
}

.delivery-block2 {
    display: flex;
    width: 50%;
    padding: 5% 0 0 3%;
}

.delivery-block2__backgroundInput {
    width: 500px;
    height: 406px;

    background: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.delivery-block2__title {
    padding: 8% 0 5% 6%;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #565C66;
}

.delivery-block2__date_tel__inputLabel {
    display: flex;
    padding-left: 6%;
}

.delivery-block2__date_tel {
    padding-right: 14%;
}

.delivery-block2__label_date,
.delivery-block2__label_tel,
.delivery-block2__address_label {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #2D3440;
}

.delivery-block2__input_date, 
.delivery-block2__input_tel,
.delivery-block2__address_input {

    display: block;
    padding-left: 6%;
    outline: none;
    height: 48px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    background: #FFFFFF;

    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #B9B9B9;
}

.delivery-block2__address {
    padding: 3% 0 0 6%;
}

.delivery-block2__address_input {
    padding: 0 43% 0 3%;
} 

.delivery-block2__btn-container {
    height: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-block2__btn {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;

    width: 152px;
    height: 44px;
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

/*======== Feedback ==========*/

.feedback-container > .feedback {
    display: none;
}

.feedback-container {
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

.feedback-block {
    padding: 5% 0 0 5%;
    display: flex;
    width: 1216px;
    height: 512px;
    background: url(./images/main/feedback/feedback.png) no-repeat;
}

.feedback {
    width: 343px;
    height: 382px;

    background: #FCFCFC;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.feedback-address {
    padding: 10% 0 10% 10%;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

span {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.feedback-address__working_mode {
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #565C66;
}

.feedback-container__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-btn {
    width: 250px;
    height: 46px;

    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;

    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

/*-------CATALOG---------*/


/*========filter-container========*/

.filter-container {
    width: 100%;
    margin-top: 7%;
}

.filter {
    display: flex;
	flex-wrap: wrap;
    width: 100%;
    gap: 4%;
}

.filter-sorting {
    width: 196px;
}

.filter-title {
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #2D3440;
}

.filter-block, 
.filter-block__select {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height: 36px;
    width: 100%;
    border: none;
    text-align: center;
    display: flex;
}

.filter-block__inputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-block__opacity {
    background: rgba(255, 255, 255, 0.4);
    gap: 20px;
    padding-left: 15px;
}

.filter-block__fat_content-form {
    text-align: center;
    height: 36px;
    padding-top: 2.4%;
}

.filter-block__fillers-form {
    text-align: center;
    height: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.filter-block__select,
label {
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-align: center;
}


.filter-fat_content {
    width: 367px;
    height: 82px;
}

.filter-fillers {
    width: 596px;
    height: 82px;
}

.filter-block__opacity label::before {
    content: "";
    background: url(./catalog/radio-off.svg) no-repeat;
    width: 22px;
	height: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.filter-block__opacity input[type=radio]:checked + label:before {
    background: url(./catalog/radio-on.svg) no-repeat;
    background-clip: content-box;
}

.filter-block__input {
    display: none;
}

.filter-block__fillers-form label::before {
    content: "";
    background: url(./catalog/check-off.svg) no-repeat;
    width: 22px;
	height: 20px;
    display: inline-block;
    position: relative;
}

.filter-block__fillers-form input[type=checkbox]:checked + label:before {
    background: url(./catalog/check-on.svg) no-repeat;
    background-clip: content-box;
}

/*======Button=====*/

.filter-container-btn {
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    border-radius: 20px;
    width: 187px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

.filter-btn {
    background: rgba(252, 252, 252, 0);
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    padding: 6px;
}


/* Pagination */

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pagination_btn {
    background: #FCFCFC;
    border: 4px solid rgba(254, 175, 195, 0.4);
    box-shadow: 0px 4px 12px rgb(45 52 64 / 10%);
    border-radius: 26px;
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2D3440;
    width: 179px;
    height: 44px;
}

.line {
    width: 1170px;
    height: 0px;
    border: 1px solid rgba(252, 252, 252, 0.3);
}

/*============== Footer =================*/

.footer {
    width: 100%;
    position: relative;
    top: 70px;
}

.social {
    display: flex;    
    column-gap: 16px;
}

.social_item {    
    text-decoration: none;
    cursor: pointer;
}

.about_us {
    width: 100%;
    justify-content: end;
    column-gap: 30px;
    display: flex;
    padding-bottom: 2%;
}

.about_us_active {
    font-family: 'Inter-Black';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.about_us_text {
    color: #2D3440;
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* Burger
============================*/
.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}



/* Media
============================*/

@media (min-width: 1920px) {
    body {
        padding: 0 20%;
    }
}

@media (max-width: 1919px) {
    body {   
        padding: 0 10.4%;
    }
}

@media (max-width: 1550px) {
    body {   
        padding: 0 5%;
    }
    .mainPage2-social {
        display: none;
    }
}

@media (max-width: 1290px) {
    body {   
        padding: 0 20px;
    }
    .mainPage {
        justify-content: center;
        flex-wrap: wrap;
    }
    .mainPage1 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .description-board__title {
        padding: 3% 10px;
        font-size: 25px;
    }
    .description-board__icon {
        gap: 10px;
    }

    .delivery-container > .delivery-block2__backgroundInput {
        display: block;
    }

    .delivery-background {
        display: none;
    }
    
    .header-nav {
        display: none;
    }
    
    .header-authorization {
        justify-content: end;
        width: 100%;
    }
    
    .burger {
        display: block;
        padding-left: 3%;
    }


}

@media (max-width: 865px) {
    .description-board__title {
        font-size: 20px;
        line-height: 30px;
    }
    .about_us {
        flex-wrap: wrap;
    }
    .about_us_active, .about_us_text {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 765px) {
    .description-container {
        background: #f9f2e2;
        border-radius: 20px;
    }
    .description-container {
        height: auto;
    }
    .description-board {
        padding: 15px;
    }
    .description-board__icon {
        height: auto;
    }
    .description-board__item {
        width: auto;
    }
    .mainPage2 {
        min-width: unset;
        padding: 0;
        width: auto;
    }
    .mainPage2-img__second, .mainPage2-img__third {
        display: none;
    }

    .header-authorization__phone {
        display: none;
    }

    .filter {
        margin-bottom: 7%;
    }

}

@media (max-width: 629px) {
    .filter {
        margin-bottom: 15%;
    }

    .filter-container {
        display: none;
    }

    .card-container {
        padding: 15% 0;
    }
}

@media (max-width: 600px) {
    .feedback-container > .feedback {
        display: block;
    }
    .feedback-block {
        display: none;
    }
    .novosti-container, .banner, .banner-head {
        display: none;
    }
    .delivery-container {
        margin-top: 8%;
    }

    .filter {
        margin-bottom: 7%;
    }
}

@media (max-width: 542px) {
    .delivery-block2__date_tel__inputLabel {
        flex-wrap: wrap;
        gap: 13px;
    }
    .delivery-block2__date_tel {
        padding-right: 4%;
    }
    .delivery-block2__address_input {
        padding-left: 3%;
        width: 94%;
    }
    .delivery-block2__input_date, .delivery-block2__input_tel {
        max-width: 100%;
    }
    .delivery-block2__label_tel {
        margin-right: 3%;
    }
    .delivery-block2__backgroundInput {
        height: auto;
    }
    .delivery-block2__btn-container {
        height: 100px;
    }

    .filter {
        margin-bottom: 7%;
    }
}

@media (max-width: 542px) {
    .filter {
        margin-bottom: 15%;
    }
}

@media (max-width: 457px) {
    .header-authorization {
        display: none;
    }

    .burger {
        margin-left: auto;
        width: 60px;
    }
}